@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

/* changing primary and secondary color in daisyUI */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
  --color-base-100: #f0f4f4;
}